<template>
  <v-menu offset-y class="ml-2">
    <template v-slot:activator="{ on }">
      <v-btn icon x-small outlined light v-on="on">
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </template>
    <v-list dense flat>
      <v-list-item v-if="item.is_insert" @click="submit('is_insert')">
        <v-list-item-content>
          <v-list-item-title>TAMBAH</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-if="item.is_update" @click="submit('is_update')">
        <v-list-item-content>
          <v-list-item-title>EDIT</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-if="item.is_delete" @click="submit('is_delete')">
        <v-list-item-content>
          <v-list-item-title>HAPUS</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-if="item.is_read" @click="submit('is_read')">
        <v-list-item-content>
          <v-list-item-title>LIHAT</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  props: {
    id: null,
    item: null
  },
  methods: {
    submit(code) {
      this.$emit("action", { id: this.id, code: code, item: this.item });
    }
  }
};
</script>
