<template>
  <v-container fluid>
    <v-row align="center" justify="center" dense>
      <v-btn
        small
        outlined
        class="mr-1"
        v-for="(k, v) in commands"
        :key="v"
        @click="
          k.key === 'createLink'
            ? (open_link_popup = !open_link_popup)
            : exec(k.key)
        "
        >{{ k.value }}</v-btn
      >
      <v-col cols="12">
        <div
          @keydown="shortCutCmd($event)"
          style="background-color: red"
          contenteditable
          class="editor"
          v-html="value"
        ></div>
      </v-col>
      <v-col cols="12">{{ d }}</v-col>
    </v-row>

    <!-- SET URL -->
    <v-dialog v-model="open_link_popup" max-width="350">
      <v-card>
        <v-card-title>URL</v-card-title>
        <v-card-text>
          <v-text-field
            v-model="link"
            outlined
            label="URL"
            dense
            @keyup.enter.native="
              exec('createLink', link);
              open_link_popup = false;
            "
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            outlined
            @click="
              exec('createLink', link);
              open_link_popup = false;
            "
            >SIMPAN</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  name: "editor",
  props: {
    value: null,
  },
  created() {
    this.onCreate();
  },
  data() {
    return {
      open_link_popup: false,
      link: null,
      tempVal: null,
      d: null,
      commands: [
        { key: "bold", value: "B" },
        { key: "underline", value: "U" },
        { key: "italic", value: "I" },
        { key: "createLink", value: "URL" },
      ],
    };
  },
  methods: {
    onCreate() {
      const d = document.querySelector(".editor");
      this.d = d.innerHTML;
    },
    exec(cmd, val = null) {
      console.log(`cmd`, [cmd, val]);
      document.execCommand(cmd, false, val);
    },
  },
};
</script>

<style></style>
