<template>
  <v-container fluid fill-height>
    <v-row>
      <v-col cols="12">
        <div class="d-flex justify-center">
          <div class="drop align-center" @dragover.prevent @drop="onDrop">
            <label class="btn display-inline">
              <div>SELECT OR DROP EXCEL HERE</div>
              <input type="file" name="json" @change="onChange" />
            </label>
          </div>
        </div>
      </v-col>
      <v-col cols="12" v-if="items.length > 0">
        <v-card dense color="rgba(0,0,0,0)" flat v-show="items.length > 0">
          <v-card-title>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              outlined
              dense
              clearable
            ></v-text-field>
            <v-spacer />
            <v-btn text @click="open_option = !open_option">DOWNLOAD AS JSON</v-btn>
          </v-card-title>
          <v-card-text>
            <v-data-table
              :search="search"
              v-if="items.length > 0"
              :headers="headers"
              :items="items"
              dense
            ></v-data-table>
            <center v-else>
              <div class="ma-5">
                <div>
                  <v-icon x-large color="cn-red">mdi-alert</v-icon>
                </div>
                <div style="color: black">Data Belum Tersedia</div>
              </div>
            </center>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="open_option" max-width="700" persistent>
      <v-card>
        <v-card-title>
          SET ATTRIBUTES
          <v-spacer />
          <v-icon @click="open_option = false">mdi-close</v-icon>
        </v-card-title>
        <v-card-text>
          <v-autocomplete
            multiple
            chips
            small-chips
            deletable-chips
            clearable
            label="Select Attributes"
            :items="headers"
            item-text="original_text"
            item-value="value"
            dense
            outlined
            v-model="selectedAttrs"
          ></v-autocomplete>
          <v-autocomplete
            clearable
            label="Select Group"
            :items="headers"
            item-text="original_text"
            item-value="value"
            dense
            outlined
            v-model="groupBy"
          ></v-autocomplete>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn dark @click="onDownload">DOWNLOAD</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import { read, utils } from "xlsx";
export default {
  name: "excel-drop",
  props: {
    id: null
  },
  data() {
    return {
      acceptMime: [
        "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
        "application/vnd.ms-excel"
      ],
      items: [],
      headers: [],
      search: null,

      selectedAttrs: [],
      groupBy: null,
      open_option: false
    };
  },
  methods: {
    onDrop: function(e) {
      e.stopPropagation();
      e.preventDefault();
      var files = e.dataTransfer.files;

      if (files.length > 1) {
        this.$store.commit("snackbar", {
          message: "Tidak dapat meng-upload lebih dari 1 file sekaligus."
        });
        return;
      }
      this.onPicked(files);
    },
    onReaderLoad(event) {
      this.items = [];
      this.headers = [];
      const res = read(event.target.result, { type: "buffer" });
      const sheet = res.Sheets[res.SheetNames[0]];
      const arr = utils.sheet_to_json(sheet, { header: 1 });
      const keys = arr.length > 0 ? arr[0] : [];

      // create headers
      if (!keys.includes("id")) keys.push("id");
      keys.forEach(e => {
        this.headers.push({
          original_text: e,
          text: e,
          align: "left",
          value: e
        });
      });

      arr.shift();
      arr.map(e => {
        let obj = {};
        keys.forEach((a, i) => (obj[a] = e[i]));
        this.items.push(obj);
      });

      this.items.map((e, n) => Object.assign(e, { id: n + 1 }));
    },
    buildFields(arr = []) {
      let object = arr.length > 0 ? arr[0] : {};
      let headers = {};

      for (const key in object) {
        if (object.hasOwnProperty(key)) {
          const element = [];
          element[key] = key;

          if (key !== "attributes") Object.assign(headers, element);
        }
      }

      return headers;
    },
    onPicked(files) {
      if (files.length > 0) {
        for (let i = 0; i < files.length; i++) {
          let x = files[i].name;
          if (x.lastIndexOf(".") <= 0) return;

          let type = files[i].type;
          let valid = this.acceptMime.indexOf(type) !== -1;
          if (!valid) {
            this.$store.commit("snackbar", {
              message: `Jenis ekstensi (${type}) TIDAK di dukung.`
            });
            return false;
          }

          const fr = new FileReader();
          fr.onload = this.onReaderLoad;
          fr.readAsArrayBuffer(files[i]);
        }
      }
    },
    onChange(e) {
      var files = e.target.files;
      this.onPicked(files);
    },
    unixToDate(v) {
      let unix_timestamp = v;
      var date = new Date(unix_timestamp * 1000);
      var hours = date.getHours();
      var minutes = "0" + date.getMinutes();
      var seconds = "0" + date.getSeconds();

      var formattedTime =
        hours + ":" + minutes.substr(-2) + ":" + seconds.substr(-2);

      return formattedTime;
    },
    onDownload() {
      let parse = this.items;
      parse
        .map(e => {
          let arr = [];
          this.selectedAttrs.forEach(f => {
            let o = {};
            for (const k in e) {
              if (k === f && e[k]) {
                o["trait_type"] = f;
                o["value"] = e[k];
              }
            }

            //// fill array when value is exists only
            if (Object.keys(o).length > 0) arr.push(o);
          });

          return Object.assign(e, { attributes: arr });
        })
        .map(e => {
          this.selectedAttrs.forEach(f => {
            for (const k in e) {
              if (k === f) delete e[k];
            }
          });

          return e;
        });

      console.log(`asd`, parse);
      let link = document.createElement("a");
      const items = JSON.stringify(parse);
      const file = new Blob([items], { type: "text/plain" });
      link.download = `metadata.json`;
      link.href = URL.createObjectURL(file);
      link.target = "_blank";
      link.click();

      this.onGroupBy(parse);
      this.open_option = false;
    },
    onGroupBy(items = []) {
      if (this.groupBy) {
        const object = items.reduce((r, a) => {
          const field = a[this.groupBy];
          r[field] = r[field] || [];
          r[field].push(a);

          return r;
        }, Object.create(null));

        for (const key in object) {
          const element = object[key];
          if (Array.isArray(element) && key) {
            let link = document.createElement("a");
            const json = JSON.stringify(element);
            const file = new Blob([json]);
            link.download = `metadata_${key}.json`;
            link.href = URL.createObjectURL(file);
            link.target = "_blank";
            link.click();
          }
        }
      }
    }
  }
};
</script>

<style scoped>
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
  -webkit-touch-callout: none;
}

.flex {
  display: flex;
}

.btn {
  /* background-color: #f2f2f2; */
  border: 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 15px 35px;
  position: relative;
}

input[type="file"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.align-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.hidden.image {
  display: inline-block !important;
}

.display-inline {
  display: inline-block;
  vertical-align: middle;
}

.drop {
  border: 4px dashed #ccc;
  border-radius: 2px;
  height: auto;
  max-height: 400px;
  max-width: 500px;
  width: 100%;
}

.drop:hover {
  border: 4px dashed #b71c1c;
}
</style>
