<template>
  <v-container fluid fill-height>
    <v-row>
      <v-col cols="12">
        <div class="d-flex justify-center">
          <div class="drop align-center" @dragover.prevent @drop="onDrop">
            <label class="btn display-inline">
              <div>SELECT OR DROP JSON HERE</div>
              <input type="file" name="json" @change="onChange" />
            </label>
          </div>
        </div>
      </v-col>
      <v-col cols="12" v-if="items.length > 0">
        <v-card dense color="rgba(0,0,0,0)" flat v-show="items.length > 0">
          <v-card-title>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              outlined
              dense
              clearable
            ></v-text-field>
            <v-spacer />
            <v-btn text @click="onDownload"> DOWNLOAD AS JSON </v-btn>
            <v-btn text>
              <download-excel
                :data="items"
                :fields="buildFields(this.items)"
                :name="`filename-traits.xls`"
              >
                DOWNLOAD AS CSV
              </download-excel>
            </v-btn>
          </v-card-title>
          <v-card-text>
            <v-data-table
              :search="search"
              v-if="items.length > 0"
              :headers="headers"
              :items="items"
              dense
            ></v-data-table>
            <center v-else>
              <div class="ma-5">
                <div>
                  <v-icon x-large color="cn-red">mdi-alert</v-icon>
                </div>
                <div style="color: black">Data Belum Tersedia</div>
              </div>
            </center>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: "json-drop",
  props: {
    id: null,
  },
  data() {
    return {
      acceptMime: ["application/json"],
      items: [],
      headers: [],
      originalItems: [],
      search: null,
    };
  },
  methods: {
    onDrop: function (e) {
      e.stopPropagation();
      e.preventDefault();
      var files = e.dataTransfer.files;

      if (files.length > 1) {
        this.$store.commit("snackbar", {
          message: "Tidak dapat meng-upload lebih dari 1 file sekaligus.",
        });
        return;
      }
      this.onPicked(files);
    },
    onReaderLoad(event) {
      var arr = JSON.parse(event.target.result);
      arr.map((e, index) => {
        let obj;
        if (e.attributes && e.attributes.length > 0) {
          let attrs = e.attributes;
          for (var i = 0; i < attrs.length; i++) {
            let o = {};
            o[attrs[i]["trait_type"]] = attrs[i]["value"];
            obj = Object.assign(e, o);
          }

          return Object.assign(obj, { id: index + 1 });
        }
      });

      this.originalItems = arr;
      this.buildTable(arr);
    },
    buildTable(arr = []) {
      this.headers = [];
      const keys = arr.length > 0 ? Object.keys(arr[0]) : [];
      keys.forEach((e) => {
        if (e !== "attributes")
          this.headers.push({
            text: e,
            align: "left",
            value: e,
          });
      });
      this.items = arr;
    },
    buildFields(arr = []) {
      let object = arr.length > 0 ? arr[0] : {};
      let headers = {};

      for (const key in object) {
        if (object.hasOwnProperty(key)) {
          const element = [];
          element[key] = key;

          if (key !== "attributes") Object.assign(headers, element);
        }
      }

      return headers;
    },
    onPicked(files) {
      if (files.length > 0) {
        for (let i = 0; i < files.length; i++) {
          let x = files[i].name;
          if (x.lastIndexOf(".") <= 0) {
            return;
          }

          let type = files[i].type;
          let valid = this.acceptMime.indexOf(type) !== -1;
          if (!valid) {
            this.$store.commit("snackbar", {
              message: `Jenis ekstensi (${type}) TIDAK di dukung.`,
            });
            return false;
          }

          const fr = new FileReader();
          fr.onload = this.onReaderLoad;
          fr.readAsText(files[i]);
        }
      }
    },
    onChange(e) {
      var files = e.target.files;
      this.onPicked(files);
    },
    unixToDate(v) {
      let unix_timestamp = v;
      var date = new Date(unix_timestamp * 1000);
      var hours = date.getHours();
      var minutes = "0" + date.getMinutes();
      var seconds = "0" + date.getSeconds();

      var formattedTime =
        hours + ":" + minutes.substr(-2) + ":" + seconds.substr(-2);

      return formattedTime;
    },
    onDownload() {
      let link = document.createElement("a");
      const items = JSON.stringify(this.originalItems);
      const file = new Blob([items], { type: "text/plain" });
      link.download = `metadata.json`;
      link.href = URL.createObjectURL(file);
      link.target = "_blank";
      link.click();
    },
  },
};
</script>

<style scoped>
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
  -webkit-touch-callout: none;
}

.flex {
  display: flex;
}

.btn {
  /* background-color: #f2f2f2; */
  border: 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 15px 35px;
  position: relative;
}

input[type="file"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.align-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.hidden.image {
  display: inline-block !important;
}

.display-inline {
  display: inline-block;
  vertical-align: middle;
}

.drop {
  border: 4px dashed #ccc;
  border-radius: 2px;
  height: auto;
  max-height: 400px;
  max-width: 500px;
  width: 100%;
}

.drop:hover {
  border: 4px dashed #b71c1c;
}
</style>
