<template>
  <v-list>
    <v-list-group :value="nodes" v-for="(k,v) in items" :key="v" @click="map(k)">
      <template v-slot:activator>
        <v-list-item-title>{{ k.label }}</v-list-item-title>
      </template>
      <v-list>
        <v-list-item v-for="(a, b) in k.children" :key="b">
          <v-list-item-content class="ml-8 hover" @click="map(a)">
            <v-list-item-title>{{ a.label }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-list-group>
  </v-list>
</template>

<script>
import file from "@/store/file.json";

export default {
  props: {
    isIdle: null
  },
  data() {
    return {
      items: file,
      initial: [],
      nodes: []
    };
  },
  created() {},
  methods: {
    map(v) {
      this.$store.commit(`item`, v);
    }
  }
};
</script>

<style>
.hover {
  cursor: pointer;
}
</style>
