<template>
  <v-app-bar
    dense
    flat
    app
    extended
    extension-height="0"
    :scroll-off-screen="true"
    :hide-on-scroll="false"
    dark
  >
    <v-toolbar-title class="text-uppercase">
      <span class="white--text">
        {{
        $store.state.loading ? "PLEASE " : header
        }}
      </span>
      <span class="font-weight-light white--text">
        {{
        $store.state.loading ? "WAIT" : " " + sub_header
        }}
      </span>
    </v-toolbar-title>

    <!-- body -->
    <v-spacer></v-spacer>
    <v-divider vertical></v-divider>
  </v-app-bar>
</template>

<script>
export default {
  components: {},
  props: {
    header: {
      type: String,
      default: function() {
        return "WEB";
      }
    },
    sub_header: null,
    is_loading: null,
    is_back: false,
    is_search: false
  },
  data() {
    return {
      keyword: null
    };
  },
  methods: {
    search() {
      this.$emit("search", this.keyword);
    }
  }
};
</script>