<template>
  <v-container fluid>
    <v-row align="center" justify="center">
      <v-col>
        <v-treeview v-model="nodes" :open="initial" :items="items" disabled v-if="items.length > 0">
          <template v-slot:label="{ item }">
            <v-container fluid class="scroll-y">
              <v-icon class="mr-2" color="pink" v-if="item.is_approve == true">mdi-folder-heart</v-icon>
              <v-icon color="grey darken-1" class="mr-2" v-else>mdi-new-box</v-icon>
              <span style="color: black">{{ item.name }}</span>
            </v-container>
          </template>
        </v-treeview>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  props: {
    items: null
  },
  data() {
    return {
      nodes: null
    };
  }
};
</script>

<style>
</style>