<template>
  <v-container fluid fill-height>
    <v-row align="center" justify="center">
      <v-col cols="12" class="p404">
        <center>
          <div style="font-size: 124px;">404</div>
          <div style="font-size: 32px">Look like you're lost</div>
          <div>the page you are looking for not avaible!</div>
        </center>
      </v-col>
      <v-col cols="12">
        <center>
          <v-btn text @click="goBack()">
            <v-icon left>mdi-arrow-left</v-icon>
            {{ is_login ? 'Dashboard' : 'Back' }}
          </v-btn>
        </center>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  components: {},
  computed: {
    is_login() {
      return this.$vls.get("sid") ? true : false;
    }
  },
  methods: {
    goBack() {
      this.$router.push("/dashboard");
    }
  }
};
</script>

<style>
.p404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}
</style>