<template>
  <v-container fluid>
    <v-row align="start" justify="center">
      <v-col sm="12">
        <v-hover v-slot="{ hover }">
          <v-card
            @click="get()"
            rounded
            class="mx-auto my-12"
            max-width="374"
            :class="{ 'on-hover': hover }"
            :elevation="hover ? 16 : 2"
          >
            <v-img
              :class="{ 'on-hover': hover }"
              :elevation="hover ? 16 : 2"
              :src="`${image_url}w500${item.poster_path}`"
              contain
            >
              <v-app-bar flat color="rgba(0, 0, 0, 0)" rounded>
                <v-spacer></v-spacer>
                <v-chip class="ml-1" x-small dark v-if="item.video">movie</v-chip>
                <v-chip class="ml-1" x-small color="red lighten-1" dark v-if="item.adult">adult</v-chip>
                <v-chip class="ml-1" x-small outlined>{{ item.original_language }}</v-chip>
              </v-app-bar>
            </v-img>
            <v-card-title style="font-size: 16px">{{ item.original_title }}</v-card-title>
            <v-card-text>
              <v-row align="center" class="mx-0">
                <v-rating
                  :value="item.vote_average/2"
                  color="amber"
                  dense
                  half-increments
                  readonly
                  size="14"
                ></v-rating>
                <div class="grey--text ms-4">{{ item.vote_average }} ({{ item.vote_count }})</div>
              </v-row>

              <div class="my-4 text-subtitle-2">
                <v-chip class="ml-1" x-small dark v-if="item.video">movie</v-chip>
                <v-chip class="ml-1" x-small>{{ item.release_date | date }}</v-chip>
                <v-chip class="ml-1" x-small color="red lighten-1" dark v-if="item.adult">adult</v-chip>
              </div>
              <div class="my-4 text-subtitle-2">
                <span>Genre</span>
                <v-chip-group column>
                  <v-chip
                    x-small
                    v-for="a in item.genre_ids"
                    :key="a"
                    v-show="gen(a) !== null"
                  >{{ gen(a) }}</v-chip>
                </v-chip-group>
              </div>
            </v-card-text>
          </v-card>
        </v-hover>
      </v-col>

      <!-- D -->
      <v-dialog v-model="open" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-card>
          <v-toolbar dark dense flat extended extension-height="330">
            <template v-slot:img>
              <v-img
                :lazy-src="`${image_url}w500${detail.backdrop_path}`"
                :src="`${image_url}w500${detail.backdrop_path}`"
                max-height="380"
                :aspect-ratio="4/3"
              >
                <v-container fluid>
                  <v-row align="start" justify="start">
                    <v-col cols="4">
                      <v-card
                        @click="open =! open"
                        rounded
                        class="mx-auto my-12"
                        max-width="200"
                        height="150"
                      >
                        <v-img :src="`${image_url}w500${detail.poster_path}`" contain></v-img>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-container>
              </v-img>
            </template>
            <v-btn icon dark @click="open = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>{{ detail.original_title }}</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-list two-line subheader>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>
                    Overview
                    <v-chip
                      outlined
                      class="ml-1"
                      x-small
                    >Release on: {{ detail.release_date | date }}</v-chip>
                  </v-list-item-title>
                  <v-list-item-subtitle>{{ detail.overview }}</v-list-item-subtitle>
                  <v-list-item-subtitle>
                    <a :href="detail.homepage" target="_blank">Homepage</a>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card-text>
          <v-divider />
          <v-card-text>
            <v-container fluid>
              <v-row align="start" justify="center">
                <v-col cols="6">
                  <v-list two-line subheader>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>Genres</v-list-item-title>
                        <v-list-item-subtitle>
                          <v-chip-group column>
                            <v-chip x-small v-for="a in detail.genres" :key="a">{{ a.name }}</v-chip>
                          </v-chip-group>
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>Language</v-list-item-title>
                        <v-list-item-subtitle>
                          <v-chip class="ml-1" x-small outlined>{{ detail.original_language }}</v-chip>
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>Information</v-list-item-title>
                        <v-list-item-subtitle>
                          <v-chip class="ml-1" x-small dark v-if="detail.video">movie</v-chip>
                          <v-chip
                            class="ml-1"
                            x-small
                            color="red lighten-1"
                            dark
                            v-if="detail.adult"
                          >adult</v-chip>
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>Rating</v-list-item-title>
                        <v-list-item-subtitle>
                          <v-rating
                            :value="detail.vote_average/2"
                            color="amber"
                            dense
                            half-increments
                            readonly
                            size="14"
                          ></v-rating>
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>Vote</v-list-item-title>
                        <v-list-item-subtitle>
                          <div
                            class="grey--text ms-4"
                          >{{ detail.vote_average }} ({{ detail.vote_count }})</div>
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title>Budget/Revenue/Runtime</v-list-item-title>
                      <v-list-item-subtitle>
                        <div
                          class="grey--text ms-4"
                        >{{ detail.budget }}/{{ detail.revenue }}/{{ detail.runtime }}</div>
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-col>
                <v-col cols="6">
                  <v-list two-line subheader>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>Production</v-list-item-title>
                        <v-img
                          :src="`${image_url}w500${a.logo_path}`"
                          height="150"
                          contain
                          width="150"
                          v-for="(a,b) in detail.production_companies"
                          :key="b"
                        ></v-img>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>

<script>
import file from "@/store/file.json";

export default {
  components: {},
  props: {
    item: null,
    genres: null
  },
  created() {},
  computed: {
    api_key() {
      return this.$store.getters.api_key;
    },
    image_url() {
      return this.$store.getters.image_url;
    }
  },
  data() {
    return {
      open: false,
      detail: {}
    };
  },
  methods: {
    get() {
      this.open = true;
      this.load();
    },
    async load() {
      await this.client(
        "GET",
        `movie/${this.item.id}?api_key=${this.api_key}`,
        null,
        {},
        r => {
          this.detail = r.data;
        }
      );
    },
    gen(id = null) {
      let f =
        this.genres && Array.isArray(this.genres)
          ? this.genres.filter(e => id == e.id)
          : null;

      if (f.length > 0) return f[0].name;
      return null;
    }
  }
};
</script>

<style>
</style>