<template>
  <v-container fluid>
    <v-card flat v-if="items.length > 0">
      <v-toolbar flat>
        <v-toolbar-title>{{ label }}</v-toolbar-title>
        <v-spacer />
        <v-toolbar-items>
          <v-text-field
            outlined
            v-model="search"
            label="Pencarian"
            dense
            class="mt-3"
            append-icon="mdi-magnify"
            full-width
          ></v-text-field>
        </v-toolbar-items>
        <v-spacer />
        <v-toolbar-items>
          <v-btn disabled>total: {{ total_pages }} records</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-divider />
      <v-card-text>
        <v-pagination v-model="page" :length="items.length" total-visible="7"></v-pagination>
        <v-row align="start" justify="start" no-gutters>
          <v-col cols="3" v-for="(k,v) in items" :key="v">
            <card :item="k" :genres="genres"></card>
          </v-col>
        </v-row>
      </v-card-text>
      <v-pagination v-model="page" :length="items.length" total-visible="7"></v-pagination>
    </v-card>
  </v-container>
</template>

<script>
import file from "@/store/file.json";

export default {
  components: {
    Card: () => import("@/components/Card.vue")
  },
  props: {
    api: null,
    label: null,
    genres: null
  },
  created() {
    this.load();
  },
  watch: {
    page() {
      this.load();
    }
  },
  computed: {
    api_key() {
      return this.$store.getters.api_key;
    },
    image_url() {
      return this.$store.getters.image_url;
    }
  },
  data() {
    return {
      items: [],
      page: 1,
      total_pages: null,
      total_results: null,
      dates: {},
      search: null
    };
  },
  methods: {
    async load() {
      if (this.api)
        await this.client(
          "GET",
          `${this.api}?api_key=${this.api_key}&page=${this.page}`,
          null,
          {},
          r => {
            this.items = r.data.results;
            this.page = r.data.page;
            this.dates = r.data.dates;
            this.total_pages = r.data.total_pages;
            this.total_results = r.data.total_results;
          }
        );
    }
  }
};
</script>

<style>
</style>