<template>
  <v-container fluid>
    <v-tabs v-model="tab" background-color="rgba(0,0,0,0)" centered light>
      <v-tabs-slider></v-tabs-slider>
      <v-tab href="#tab-1" light> JSON to Excel </v-tab>
      <v-tab href="#tab-2"> Excel to JSON </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab" background-color="rgba(0,0,0,0)">
      <v-tab-item value="tab-1">
        <div class="d-flex justify-center"><json-drop /></div>
      </v-tab-item>
      <v-tab-item value="tab-2">
        <div class="d-flex justify-center"><excel-drop /></div>
      </v-tab-item>
    </v-tabs-items>
  </v-container>
</template>

<script>
export default {
  components: {
    JsonDrop: () => import("@/components/core/json-drop"),
    ExcelDrop: () => import("@/components/core/excel-drop"),
  },
  data() {
    return {
      tab: "tab-1",
    };
  },
  methods: {
    onUpload(v) {
      console.log(`val`, v);
    },
  },
};
</script>

<style>
</style>