<template>
  <v-container fluid fill-height>
    <toolbar :sub_header="item.label ? item.label : ``"></toolbar>
    <v-row align="center" justify="center">
      <v-col
        sm="12"
        lg="12"
        md="12"
        xl="12"
        align-self="center"
        v-if="item.children && item.children.length > 0"
      >
        <card-lists
          :label="`${item.label} - ${k.label}`"
          :api="k.api"
          v-for="k in item.children"
          :key="k.api"
          :genres="item.code == 'movie' ? movie : tv"
        ></card-lists>
      </v-col>
      <v-col sm="12" lg="12" md="12" xl="12" align-self="center" v-else>
        <card-lists
          :label="`${item.label}`"
          :api="item.api"
          :key="item.api"
          :genres="item.code == 'movie' ? movie : tv"
        ></card-lists>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import file from "@/store/file.json";

export default {
  components: {
    CardLists: () => import("@/components/CardList.vue"),
    Toolbar: () => import("@/components/core/toolbar.vue")
  },
  computed: {
    item() {
      return this.$store.getters.item;
    }
  },
  created() {
    this.loadGenres();
  },
  data() {
    return {
      movie: [],
      tv: []
    };
  },
  methods: {
    async loadGenres() {
      await this.client(
        "GET",
        `genre/movie/list?api_key=${this.$store.state.api_key}`,
        null,
        {},
        r => {
          this.movie = r.data.genres;
        }
      );

      await this.client(
        "GET",
        `genre/tv/list?api_key=${this.$store.state.api_key}`,
        null,
        {},
        r => {
          this.tv = r.data.genres;
        }
      );
    }
  }
};
</script>

<style>
</style>