<template>
  <v-app light>
    <!-- SNACKBAR -->
    <v-snackbar
      v-model="$store.state.snackbar"
      right
      vertical
      :elevation="24"
      :color="$store.state.color"
      :timeout="$store.state.timeout"
    >
      <span class="snackbar" v-html="$store.state.message"></span>
    </v-snackbar>

    <!-- Update UI -->
    <v-snackbar
      v-model="updateExists"
      top
      right
      vertical
      :elevation="24"
      color="red darken-4"
      dark
      :timeout="12000"
    >
      <span class="snackbar">New version is found. Refresh to load it.</span>
      <v-btn text small @click="refreshApp">Refresh</v-btn>
    </v-snackbar>

    <!-- DRAWER -->
    <!-- <v-navigation-drawer
      persistent
      dark
      enable-resize-watcher
      permanent
      fixed
      app
      flat
      overlay-opacity="5"
    >
      <v-list dense nav>
        <v-list-item>
          <v-list-item-avatar size="20">
            <v-avatar></v-avatar>
          </v-list-item-avatar>

          <v-list-item-title>WEB MOVIE</v-list-item-title>
        </v-list-item>
        <v-divider></v-divider>
        <Nav />
      </v-list>
    </v-navigation-drawer>-->
    <!-- /DRAWER -->

    <v-main>
      <router-view />
    </v-main>

    <v-overlay :value="$store.state.loading" z-index="9999">
      <center>
        <v-progress-circular
          :indeterminate="$store.state.loading"
          size="64"
          :value="$store.state.progress"
          :rotate="180"
        ></v-progress-circular>
        <br />
        <span style="font-weight: bold; font-size: 14px">PLEASE WAIT</span>
      </center>
    </v-overlay>
  </v-app>
</template>

<script>
import pwa from "./plugins/pwa";

export default {
  mixins: [pwa],
  name: "App",
  components: {
    Nav: () => import("@/components/core/nav"),
  },
  created() {},
  computed: {},
  methods: {
    onMini() {
      this.isMini = false;
    },
  },
  data() {
    return {};
  },
};
</script>

<style>
th {
  padding: 8px 20px;
  background-color: #b71c1c;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white !important;
  height: 40px !important;
}

th > i {
  color: white !important;
}

td {
  border: 1px solid rgba(192, 192, 194, 0.25);
}

.snackbar {
  list-style-type: none;
}

#vs-scroll {
  max-height: 800px;
  overflow: auto;
}

.btn {
  text-transform: none !important;
}

.blink {
  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
</style>
